[submodule "src/AvRichTextBox"]
	path = src/AvRichTextBox
	url = https://github.com/oldrepublicwizard/AvRichTextBox.git
[submodule "src/RtfDomParserAvalonia"]
	path = src/RtfDomParserAvalonia
	url = https://github.com/oldrepublicwizard/RtfDomParserAvalonia.git
[submodule "vendor/KPatcher"]
	path = vendor/KPatcher
	url = https://github.com/oldrepublicwizard/KPatcher.git
